#contact-title {
  margin: auto;
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 4vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#contact-icons {
  display: grid;
  height: 10vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 50vw;
  margin: auto;
  padding-bottom: 5vh;
}
.contact-bar-icon {
  height: 6vw;
  margin: auto;
}
.contact-bar-icon:hover {
  cursor: pointer;
}
#contact-information {
  display: grid;
  grid-template-columns: 5fr auto;
  height: 6vw;
  width: 80vw;
  margin: auto;
}
#contact-url-text {
  font-size: 3vw;
  text-align: center;
}
#contact-information-icon {
  height: 6vw;
}
