@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background: rgba(31, 116, 212, 0.63);
}
#navbar {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.274);
  color: white;
}

#title {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0.5vw;
  font-family: "Righteous", cursive;
  font-size: 1.7vw;
}
#main-bar {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0.5vw;
  font-family: "Righteous", cursive;
  font-size: 1.7vw;
}
.navbar-button {
  margin-top: auto;
  margin-bottom: auto;
  border-top-left-radius: 10px;
  border-left: 4px solid green;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0.5vw;
  font-family: "Righteous", cursive;
  font-size: 1.2vw;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.navbar-button:hover {
  cursor: pointer;
}
#projects-section {
  display: none;
}
