@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#projects-section {
  margin-top: 5%;
}
#projects-title {
  font-size: 5rem;
  font-family: "Press Start 2P", cursive;

  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: center;
  color: white;
  text-decoration: underline 3px solid white;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.projects-card {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 3px solid white;
  border-top-left-radius: 5vh;
  box-shadow: -3vh 3vh rgba(0, 0, 0, 0.527);
  margin-bottom: 5vh;
}
.projects-card-title {
  height: 38vh;
  font-family: "Press Start 2P", cursive;
  color: white;
}
.projects-card-title-link {
  margin: auto;
}
.projects-media {
  height: 30vh;
}
.projects-name {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 7%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  height: 8vh;
}
.projects-card-name {
  margin: auto;
}
.projects-name img {
  height: 5vh;
  display: block;
  margin: auto;
}
.projects-info {
  height: 38vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.projects-card-navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: 3px solid white;
}
.projects-card-navbar-tab {
  margin-top: auto;
  margin-bottom: auto;
  border-top-left-radius: 20px;
  border-left: 4px solid rgb(60, 93, 204);
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0.5vw;
  font-family: "Righteous", cursive;
  font-size: 2vw;
  background-image: linear-gradient(
    to right,
    rgb(214, 240, 255),
    rgb(214, 240, 255),
    rgba(255, 255, 255, 0.158)
  );
  color: rgba(53, 45, 170, 0.521);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.projects-card-navbar-tab:hover {
  cursor: pointer;
}
.projects-card-navbar-tab-left {
  width: 105%;
}

.projects-card-image {
  display: block;
  margin: auto;
}
.projects-info-display {
  margin: 2%;
}
